#wpadminbar {
    display: none !important;
}

/************************************************
    CSS RESET
************************************************/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block; } body {line-height: 1; } ol, ul {list-style: none; } blockquote, q {quotes: none; } blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; } table {border-collapse: collapse; border-spacing: 0; }

/************************************************
    FONTS
************************************************/

@font-face {
    font-family:'SangbleuKing';
    src:url('assets/fonts/SangBleuKing-WebTrial.eot');
    src:url('assets/fonts/SangBleuKing-WebTrial.eot?#iefix') format('embedded-opentype'),          
        url('assets/fonts/SangBleuKing-WebTrial.woff2') format('woff2'),   
        url('assets/fonts/SangBleuKing-WebTrial.woff') format('woff'),
        url('assets/fonts/SangBleuKing-WebTrial.ttf') format('truetype'),
        url('assets/fonts/SangBleuKing-WebTrial.svg#johnsonregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "cmr";
    src: url('assets/fonts/cmr10-webfont.eot');
    src: url('assets/fonts/cmr10-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/cmr10-webfont.woff2') format('woff2'),
         url('assets/fonts/cmr10-webfont.woff') format('woff'),
         url('assets/fonts/cmr10-webfont.ttf') format('truetype'),
         url('assets/fonts/cmr10-webfont.svg#cmr10regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/************************************************
    GENERAL
************************************************/

html, body {
    font-family: cmr, serif, Helvetica, Arial, sans-serif;
    font-size: 1.05em;
    line-height: 1.8;
}

a {
    color: inherit;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 0px solid black;
}

a:focus, a:active {
    color: inherit;
}

a:hover {
    border-bottom: 1px solid black;
}

i, em {
/*    font-weight: 500;*/
    font-style: italic;
}

b, strong {
    font-weight: 700;
}

hr {
    border: 0;
    background: black;
    height: 1px;
    width: 99%;
    margin-left: 0;
}

#wrapper {
/*    border: 2px solid purple;*/
}

#left_wrapper, #right_wrapper {
/*    border: 1px solid red;*/
    width: 45%;
    margin-right: 5%;
    display: inline-block;
    vertical-align: top;
}

#right_wrapper {
    margin-right: 0%;
}

.wrapper {
    margin: 24px 32px;
    padding-bottom: 400px;
    padding-bottom: 25vh;
}

#close_button {
    width: 120px;
    height: 120px;  
    position: absolute;
    z-index: 99;
    top: 50px;
    right: 50px;  
    cursor: pointer;
    display: none;
}

#squiggle {
    width: 120px;
    height: 120px;  
    position: fixed;
    z-index: 999999;
    bottom: 50px;
    right: 50px;  
    cursor: pointer;  
}

#squiggle img {
    -webkit-filter: drop-shadow( 2px 2px 2px #000 );
            filter: drop-shadow( 2px 2px 2px #000 );    
}

#close_button img {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-filter: drop-shadow( 2px 2px 2px #000 );
            filter: drop-shadow( 2px 2px 2px #000 ); 
    opacity: 0;
    transition: opacity 1s;   
}

#close_button img.selected {
    opacity: 1;    
}

#close_button img.inverted {
    -webkit-filter: drop-shadow( 2px 2px 2px #fff );
            filter: drop-shadow( 2px 2px 2px #fff );     
}

#hyperlink {
    border: 1px solid yellow;
    background-color: rgba(255,255,255,0);
    border-radius: 100px;
    border: 0px;
    width: 12vw;
    height: 12vw;
    position: fixed;
    z-index: 9999;
    top: -200px;
    left: -200px;
    box-shadow: 5px 5px 20px black;
    transition: top 5s linear, left 3s ease-in-out;
    cursor: pointer;
}

#hyperlink.inverted {
    box-shadow: 5px 5px 20px white;    
}

#hyperlink.top_left {
    top: -200px;
    left: -200px;
}

#hyperlink.top_right {
    top: -200px;
    left: inherit;
    right: -200px;
}

#hyperlink.bottom_right {
    top: inherit;
    bottom: -200px;
    left: inherit;
    right: -200px;   
}

#hyperlink.bottom_left {
    top: inherit;
    bottom: -200px;
    left: -200px;
}

#hyperlink:hover {
    border-bottom: 0px;
}

#sidebar {
    background-color: rgba(0,0,0,0.75);
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: -51%;
    transition: right 2s;
}

#text_wrapper {
/*    border: 1px solid red;*/
    width: 80%;
/*    left: 10%;*/
    position: absolute;
    position: relative;
    top: 24px;
}

.text_block {
/*    border: 1px solid green;*/
    position: relative;
/*    color: white;*/
    font-family: "cmr", serif;
    line-height: 1.6;
    font-size: 0.95em;
    letter-spacing: 0.05em;
    margin-bottom: 24px;
}

.text_block p {
/*    border: 1px solid blue;*/
    opacity: 1;
    transition: all 0.5s;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 2000ms infinite;      
    animation: ellipsis steps(4,end) 2000ms infinite;
    content: "\2026";
    width: 0px;
}

@keyframes ellipsis {
    to {
        width: 20px;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;    
    }
}

/************************************************
    HOME
************************************************/

#home_wrapper {
/*    padding-bottom: 0px;
    padding-bottom: 0vh;*/
    padding-bottom: 64px;
    transition: opacity 1s;  
}

#home_wrapper > div, hr {
    margin-bottom: 36px;
}


.layer {
/*    border: 2px solid purple;*/
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 4s;
    pointer-events: none;
}

.layer iframe {
    width: 100%;
    height: 100%;    
}


